---
http_interactions:
- request:
    method: get
    uri: http://apis.is/cyclecounter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"70789305"'
    body:
      encoding: UTF-8
      string: '{"results":[{"DayCount":"85","YearCount":"80746","Time":"19:47","Date":"7.
        Sep 2014"}]}'
  recorded_at: Sun, 07 Sep 2014 18:14:44 GMT
recorded_with: VCR 2.9.2
