---
http_interactions:
- request:
    method: get
    uri: http://apis.is/lottery/vikingalotto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"date":"03.09.2014","lotto":"2 17 25 27 31 37 9 24 (38)","joker":"7
        2 7 8 4","prize":"46.747.720 kr.","link":"http://lotto.is/lottoleikir/urslit/vikingalotto?_date=03.09.2014"},{"date":"27.08.2014","lotto":"10
        15 21 33 37 46 29 36 (28)","joker":"5 1 1 2 2","prize":"47.645.620 kr.","link":"http://lotto.is/lottoleikir/urslit/vikingalotto?_date=27.08.2014"},{"date":"20.08.2014","lotto":"5
        10 17 27 33 45 18 20 (28)","joker":"7 8 4 2 6","prize":"92.025.550 kr.","link":"http://lotto.is/lottoleikir/urslit/vikingalotto?_date=20.08.2014"},{"date":"13.08.2014","lotto":"2
        4 11 17 31 45 6 3[...]
