---
http_interactions:
- request:
    method: get
    uri: http://apis.is/lottery/eurojackpot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"date":"05.09.2014","lotto":"26 31 33 39 40 5 (6)","joker":"0
        0 4 0 9","prize":"7.889.127.650 kr.","link":"http://lotto.is/lottoleikir/urslit/eurojackpot?_date=05.09.2014"},{"date":"29.08.2014","lotto":"1
        8 9 12 37 2 (6)","joker":"1 2 0 6 8","prize":"6.712.088.540 kr.","link":"http://lotto.is/lottoleikir/urslit/eurojackpot?_date=29.08.2014"},{"date":"22.08.2014","lotto":"19
        20 40 42 47 2 (8)","joker":"6 9 2 6 3","prize":"5.717.926.140 kr.","link":"http://lotto.is/lottoleikir/urslit/eurojackpot?_date=22.08.2014"},{"date":"15.08.2014","lotto":"17
        38 41 43 47 4 (6)","joker":"9 4[...]
