---
http_interactions:
- request:
    method: get
    uri: http://apis.is/lottery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"date":"06.09.2014","lotto":"4 7 11 23 33 (2)","joker":"0
        4 1 0 7","prize":"6.266.420 kr.","link":"http://lotto.is/lottoleikir/urslit/lotto?_date=06.09.2014"},{"date":"30.08.2014","lotto":"2
        7 15 16 37 (17)","joker":"7 6 9 5 7","prize":"53.194.170 kr.","link":"http://lotto.is/lottoleikir/urslit/lotto?_date=30.08.2014"},{"date":"23.08.2014","lotto":"7
        14 23 31 33 (16)","joker":"5 6 9 4 8","prize":"76.659.750 kr.","link":"http://lotto.is/lottoleikir/urslit/lotto?_date=23.08.2014"},{"date":"16.08.2014","lotto":"1
        4 21 32 40 (15)","joker":"5 8 7 8 6","prize":"56.106.090 k[...]
