---
http_interactions:
- request:
    method: get
    uri: http://apis.is/particulates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-1372712227"'
    body:
      encoding: UTF-8
      string: '{"results":[{"PM10nuna":"27.0","PM10medaltal":"21.0","Counter":"20","Dags":"2007-09-19","nanariuppl":"http://www.reykjavik.is"}]}'
  recorded_at: Sun, 07 Sep 2014 18:14:45 GMT
recorded_with: VCR 2.9.2
